// app global css in SCSS form
html {
  background-image: url('../assets/bg-photo.jpg');
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  backdrop-filter: blur(5px);
}
